.u-title-center{text-align: center;}
.u-title-margin-bottom-8{
    margin-bottom:8rem;
    @include mediaQuery(tab-port){
    margin-bottom: 6rem;
    }
}
.u-title-margin-bottom-medium{
    margin-bottom: 1.5rem;
    @include mediaQuery(tab-port){
        margin-bottom:1rem;
    }
}
.u-title-margin-bottom-4{
    margin-bottom:4rem;
    @include mediaQuery(tab-port){
        margin-bottom: 3rem;
        }
};
.u-title-margin-bottom-small{margin-bottom: 1rem;}

//top

.u-title-margin-top{margin-top: 8rem;}

